.chat-main__message
  .chat-main__message-name
    shinya
  .chat-main__message-time
    2018/12/22/ 15:00:00
  .chat-main__message-text
    hello
.chat-main__message
  .chat-main__message-name
    shinya
  .chat-main__message-time
    2018/12/22/ 15:30:00
  .chat-main__message-text
    world
.chat-main__message
  .chat-main__message-name
    shinya
  .chat-main__message-time
    2018/12/22/ 16:00:00
  .chat-main__message-text
    !
