= link_to root_path do
  .side__group-content
    %p.side__group-name
      test group
    %p.side__group-message
      まだメッセージはありません。
= link_to root_path do
  .side__group-content
    %p.side__group-name
      sampleグループ
    %p.side__group-message
      まだメッセージはありません。
= link_to root_path do
  .side__group-content
    %p.side__group-name
      仮グループ
    %p.side__group-message
      まだメッセージはありません。
