.side-bar {
  height: 100vh;
  width: 300px;
  float: left;

  &__user {
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;

    &-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &-name {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      position: relative;
      display: inline-block;
    }

    &--new-group {
      color: $white;
      margin-left: 30%;
      position: relative;
      display: inline-block;
    }

    &--edit-user {
      color: $white;
      position: relative;
      display: inline-block;
    }
  }

  &__groups {
    height: 85%;
    width: 100%;
    background-color: #2f3e51;

    &-list {
      height: 100%;

      a {
        text-decoration: none;

        .side-bar__group{
          padding: 20px;
          color: $white;

          &-name {
            font-size: 15px;
            padding-bottom: 5px;
          }

          &-message {
            font-size: 11px
        }
        }
      }
    }
  }
}
