$light-blue: #38AEF0;
$thin-black: #434A54;
$white: #FFFFFF;
$dark-blue: #253141;
$indigo-blue: #2f3e51;
$border-color: #eeeeee;
$silver-gray: #999999;
$pearl-gray: #AAAAAA;
$pearl-white: #FAFAFA;
$black: #333333;
